{% extends "vistas/base.html" %}


{% load static %}

{% block content %}

<html>

<head>

  {% load static %}

    <!-- Bootstrap -->
    <link href="{% static 'vistas/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

     <!-- Fonts -->
    
     <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
     <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
     

    <!-- Styles -->
    <link href="{% static 'vistas/css/gestion.css' %}" rel="stylesheet">
</head>

<body>

    


 
 
  <h1 class="site-heading text-center text-black d-none d-lg-block">
      
    <span class="site-heading-lower">Tecno Gallery</span>
  </h1>

  {% if "valido" in request.GET  %}

  <p>ENVIADO</p>

  {% endif %}

 <form align="center"  action="" method="POST" style="text-aling:center">
  {% csrf_token %}

  
  <table align="center">{{Formulario.as_table}}</table>
  <br>
  <input  type="submit" value="Enviar">
  
</form>

<br> <br> <br> <br> <br>

</body>


</html>
{{request.POST}}
{% endblock %}