{% extends "vistas/base.html" %}



{% load static %}

{% block content %}
<html>

    <head>
    
      {% load static %}
    
      

        <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
        integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
        crossorigin=""/>
     
     
        <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>
     
     
     
        <style>
         #map { height: 500px;  width: 900px; }
     </style>
     
    </head>
    
    <body>
    
        
    
    
     
     
      <h1 class="site-heading text-center text-black d-none d-lg-block">
          
        <span class="site-heading-lower">UBICACION</span>
      </h1>
    
      <center><h3>Calle Juaquín Costa Nº10
      </h3></center>

<center><div id="map" ></div></center>



<script>
   var mimapa = L.map('map').setView([41.6480332,-0.8799737], 13);

    L.tileLayer('http://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>',
    maxZoom: 18
    }).addTo(mimapa);

    L.marker([41.6480332,-0.8799737]).addTo(mimapa).bindPopup("CPI Los Enlaces");
</script>

    <br> <br>
      
    
        
    </body>
    
    
    </html>


    {% endblock %}