{% extends "vistas/base.html" %}



{% load static %}

{% block content %}
<html>

<body> 
  <h1 class="site-heading text-center text-black d-none d-lg-block">
    <span class="site-heading-lower">Tecno Gallery</span>

  </h1>

   <!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" src="{% static 'vistas/img/boxes2.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-lower">El mejor stock</span>
          </h2>
          <p class="mb-3">En  tu casa en menos de 72 h , a cualquier parte de España.
          </p>
         
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                
                <span class="section-heading-lower">Tecno Gallery</span>
              </h2>
              <p class="mb-0">Mucha experiencia a nuestras espaldas, desde "Tecno Gallery" tenemos los conocimientos necesarios para llevar cualquier tipo de movil a tu casa</p>
            </div>
          </div>
        </div>
      </div>
    </section>


    
</body>


</html>



{% endblock %}